*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: auto;
}


/* box */

.box{
    width: calc(100% / 3 - 10px);
    float: left;
    margin: 5px;
    position: relative;
    margin-bottom: 90px;
}


/* cuore */

#cuore{
    text-align: center;
    line-height: 40px;
    font-size: 17pt;
    background-color: white;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 40px;
    right: 0px;
    display: inline;
}


/* box colorati */

#box-rosso{
    text-align: center;
    font-size: 10pt;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    background-color: rgb(255, 0, 55);
    padding: 4px;
    position: absolute;
    top: 500px;
    left: 0;
    display: inline;
}

#box-verde{
    text-align: center;
    font-size: 10pt;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    background-color: rgb(41, 139, 70);
    padding: 4px;
    position: absolute;
    top: 500px;
    left: 50px;
    display: inline;
}

#box-verde-left{
    text-align: center;
    font-size: 10pt;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    background-color: rgb(41, 139, 70);
    padding: 4px;
    position: absolute;
    top: 500px;
    left: 0;
    display: inline;
}

/* didascalie sottostanti */

.didascalie{
    position: absolute;
    top: 560px;
}

#brand{
    font-size: 11pt;
    color: black;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

h3{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

#sconto{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    color: red;
}

#intero{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 10pt;
    text-decoration-line: line-through;
}


/* immagini */

.img-base{
    object-fit: cover;
    width: 100%; 
}

.img-hover{
    display: none;
    object-fit: cover;
    width: 100%;
    position: absolute;
}



.box:hover .img-base{
    display: none;
}

.box:hover .img-hover{
    display: inline-block;
}







.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


/* ***** debug ***** */

.container.debug{
    background-color: rgb(46, 187, 187);
    height: 700px;
}

.debug .box{
    height: 300px;
    background-color: white;
    border: 1px solid black; 
    
}