*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: auto;
}

.box{
    width: calc(100% / 3 - 10px);
    float: left;
    margin: 5px;
    position: relative;
}

.img-base{
    object-fit: cover;
    width: 100%; 
}

.img-hover{
    display: none;
    object-fit: cover;
    width: 100%;
    position: absolute;
}

.box:hover .img-base{
    display: none;
}

.box:hover .img-hover{
    display: inline-block;
}







.clearfix::after{
    content: '';
    display: table;
    clear: both;
}


/* ***** debug ***** */

.container.debug{
    background-color: rgb(46, 187, 187);
    height: 700px;
}

.debug .box{
    height: 300px;
    background-color: white;
    border: 1px solid black; 
    
}